<div class="container-fuid" style="background-color:#2c3e50; height:100px;">
    <div class="row">
        <div class="col-md-4">
            <div style="color:#ffff;text-align: left;padding:30px 0px 0px 40px">
                <p><b>&copy;2020 Marki</b><br>
                    <b>&copy;2020 PlanBCode</b></p>


            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p style="color:white;">Aquí irán as iconas das distintas RRSS</p>
        </div>
    </div>
</div>