<div class="container-fuid">
    <div class="row aboveContainer">
        <div class="col-md-3" style="padding:50px 50px 50px 50px"></div>
        <div class="col-md-6" style="padding:100px 50px 50px 50px">
            <div class="title1">
                <h1>Marki é unha ferramenta para calcular prezos e porcentaxes pensada para o pequeno
                    comercio.</h1>
                <h5>Introduce os datos e comproba como funciona. </h5>

            </div>
        </div>
    </div>

    <div class="container-fluid" style=" height:500px;">
        <div class="row">
            <div class="col-md-5">
                <div class="card" style="margin:20px;">
                    <h5 class="card-header" style="background-color:#ff1493;color:#ffff;">Introduce os datos da compra
                    </h5>
                    <div class="card-body">
                        <form (ngForm)="submitEvento" #submitEvento="ngForm" (ngSubmit)="calcularenServicio()">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Introduce o prezo de compra sen
                                    IVE</label>
                                <input type="number" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Prezo de compra sen IVE" [(ngModel)]="precioCompra"
                                    name="precioCompra">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Introduce o IVE que se aplicará</label>
                                <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]=" ivaCompra"
                                    name="ivaCompra">
                                    <option>4</option>
                                    <option>10</option>
                                    <option>21</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Aplicase Recargo de Equivalencia?</label>
                                <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]=" recargo"
                                    name="ivaCompra">
                                    <option>SI</option>
                                    <option>NON</option>

                                </select>
                            </div>
                            <div style="text-align: center;"><button type="submit"
                                    class="btn btn-primary botonCalcular">Calcular</button></div>

                        </form>
                    </div>

                    <div>
                        <div class="prezoTotal">
                            <b>O prezo total do produto é</b> <br>
                            <h1> {{precioTotalCompra|number}}€</h1>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-7">

                <div class="card" style="margin:20px;">
                    <h5 class="card-header" style="background-color:#ff1493;color:#ffff;">Cálculo de beneficios
                    </h5>
                    <div class="card-body">
                        <tr>
                            <td style="padding-left:25px;"><b>PORCENTAXE</b></td>

                            <td style="padding-left: 25px;">PREZO VENDA NETO</td>

                            <td style="padding-left: 25px;">IVE APLICADO</td>

                            <td style="padding-left: 25px;">IVE</td>

                            <td style="padding-left: 25px;"><b>PVP</b></td>

                            <td style="padding-left: 25px;">BENEFICIO</td>

                        </tr>

                        <tr *ngFor="let dato of datos">

                            <td style="padding-left:25px;"><b>{{dato.porcentaje|number}}</b></td>
                            <td style="padding-left:25px;">{{dato.precioVentaNeto|number}}</td>
                            <td style="padding-left:25px;">{{dato.IVA}}</td>
                            <td style="padding-left:25px;">{{dato.IvaCant|number}}</td>
                            <td style="padding-left:25px;"><b>{{dato.PVP|number}}</b></td>
                            <td style="padding-left:25px;">{{dato.Beneficio|number}}</td>
                        </tr>

                    </div>
                </div>
            </div>
        </div>
    </div>