<div class="container-fuid">
    <div class="row aboveContainer">
        <div class="col-md-3" style="padding:50px 50px 50px 50px"></div>
        <div class="col-md-6" style="padding:100px 50px 50px 50px">
            <div class="title1">
                <h1>Marki é unha ferramenta para calcular prezos e porcentaxes pensada para o pequeno
                    comercio.</h1>
                <h5>Potente, sinxela e personalizábel. </h5>
                <div>
                    <a href="#centerContainer" class="btn  btn-lg bigButton" style="background-color:#ff1493">Descobre
                        o que
                        che
                        ofrece</a>

                </div>
            </div>
        </div>
        <div class="col-md-3" style="padding:50px 50px 50px 50px"></div>

        <!--  <div class="col-md-12"><img src="../../assets/images/image1.jpg" width="100%"
                alt="Chica mirando el precio de productos en una tienda"
                title="Chica mirando el precio de productos en una tienda"></div>-->

    </div>
</div>
<div class="container-fuid">
    <div class="row centerContainer" id="centerContainer">

        <div class="col-md-6"><img src="../../assets/images/image2.jpg" width="100%"
                alt="Chico comprobando el precio de los productos en una tienda de ropa"
                title="Chico comprobando el precio de los productos en una tienda de ropa"></div>
        <div class="col-md-6">
            <h2>Sinxelo de utilizar </h2>
            <div class="raia">
                <hr>
            </div>

            <p>Só con introducir o prezo de compra dun produto poderás calcular o PVP segundo a porcentaxe de
                beneficios que lle desexes aplicar.
            </p>
            <p>Calcula facilmente o IVE e o Recargo de equivalencia que terás que aboar e coñece o prezo real dos
                produtos.</p>
            <p>Non leves sorpresas desagradábles cando recibes as facturas.</p>
            <div class="sectionButton"><a href="#bottonContainer" class="btn  btn-lg bigButton"
                    style="background-color:#ff1493">Descobre
                    como funciona</a></div>
        </div>
    </div>
</div>

<div class="container-fuid bottonContainer" id="bottonContainer">
    <div class="row ">

        <div class="col-md-6">
            <h2>Cómo funciona?</h2>
            <div class="raia2">
                <hr>
            </div>

            <div class="row">
                <div class="col-2">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-calculator" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2 .5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-2zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zM4.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM4 12.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zM7.5 6a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM7 9.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm.5 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM10 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm.5 2.5a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-.5-.5h-1z" />
                    </svg>

                </div>
                <div class="col-10">
                    <h6>Cálculo de prezo real</h6>
                    <p>Introduces o prezo neto ao que mercaches o produto e calculamos o prezo real con IVE e, se o
                        tiveres que pagar, Recargo de equivalencia.</p>
                </div>


            </div>
            <div class="row">
                <div class="col-2">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-credit-card" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
                        <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
                    </svg>

                </div>

                <div class="col-10">
                    <h6>Cálculo de PVP</h6>
                    <p>Calculamos o PVP que debes aplicarlle ao produto segundo a porcentaxe de beneficio que desexes
                        obter.</p>
                </div>

            </div>
            <div class="row">
                <div class="col-2">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-bar-chart-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect width="4" height="5" x="1" y="10" rx="1" />
                        <rect width="4" height="9" x="6" y="6" rx="1" />
                        <rect width="4" height="14" x="11" y="1" rx="1" />
                    </svg>

                </div>
                <div class="col-10">
                    <h6>Cálculo de beneficios</h6>
                    <p>Poderás comprobar de forma clara e sinxela cal é o beneficio real segundo a porcentaxe que lle
                        apliques.</p>
                </div>

            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="sectionButton">
                        <a href="/app" class="btn  btn-lg bigButton"
                            style="background-color:#ffff; color: #ff1493">Quero
                            probalo!</a></div>


                </div>
            </div>
        </div>
        <div class=" col-md-6"><img src="../../assets/images/image3.jpg" width="100%"
                alt="Chica marcando precio de productos" title="Chica marcando precio de productos"> </div>
    </div>
</div>
<div class="container-fuid superBottonContainer">
    <div class=" row ">
        <div class=" col-md-3" style="text-align: right;">
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-broadcast-pin" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 0 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707z" />
                <path d="M10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                <path fill-rule="evenodd" d="M8 8.5a.5.5 0 0 1 .5.5v6.5a.5.5 0 0 1-1 0V9a.5.5 0 0 1 .5-.5z" />
            </svg>
        </div>
        <div class=" col-md-6">
            <div>
                <h2>Mantente ao día das novidades</h2>
            </div>

        </div>
        <div class="col-md-3">
            <a href="#" class="btn  btn-lg bigButton" style="background-color:#ff1493; color: #ffff">Subscríbete ao
                noso boletín</a></div>
    </div>
</div>