<div class="container-fuid">
    <div class="row aboveContainer">
        <div class="col-md-3" style="padding:50px 50px 50px 50px"></div>
        <div class="col-md-6" style="padding:100px 50px 50px 50px">
            <div class="title1">
                <h1>Marki é unha ferramenta para calcular prezos e porcentaxes pensada para o pequeno
                    comercio.</h1>
                <h5>Potente, sinxela e personalizábel. </h5>
                <div><button type="button" class="btn  btn-lg bigButton" style="background-color:#ff1493">Descubre o que
                        che
                        ofrece</button></div>
            </div>
        </div>
        <div class="col-md-3" style="padding:50px 50px 50px 50px"></div>

        <!--  <div class="col-md-12"><img src="../../assets/images/image1.jpg" width="100%"
                alt="Chica mirando el precio de productos en una tienda"
                title="Chica mirando el precio de productos en una tienda"></div>-->

    </div>
</div>
<div class="container-fuid">
    <div class="row centerContainer">

        <div class="col-md-6"><img src="../../assets/images/image2.jpg" width="100%"
                alt="Chico comprobando el precio de los productos en una tienda de ropa"
                title="Chico comprobando el precio de los productos en una tienda de ropa"></div>
        <div class="col-md-6">
            <h2>Sinxelo de utilizar </h2>
            <hr class="raia">
            <p>Só con introducir o prezo de compra dun produto poderás calcular o PVP segundo a porcentaxe de
                beneficios que lle desexes aplicar.
            </p>
            <p>Calcula facilmente o IVE e o Recargo de equivalencia que terás que aboar e coñece o prezo real dos
                produtos.</p>
            <p>Non leves sorpresas desagradábles cando recibes as facturas.</p>
            <div><button type="button" class="btn  btn-lg bigButton" style="background-color:#ff1493">Descubre como
                    funciona</button></div>
        </div>
    </div>
</div>

<div class="container-fuid bottonContainer">
    <div class="row ">

        <div class="col-md-6">
            <h2>Cómo funciona?</h2>
            <hr class="raia2">
            <div class="row">

                <div class="col-10">
                    <h6>Cálculo de prezo real</h6>
                    <p>Introduces o prezo neto ao que mercaches o produto e calculamos o prezo real con IVE e, se o
                        tiveres que pagar, Recargo de equivalencia.</p>
                </div>
                <div class="col-2">ICONA</div>

            </div>
            <div class="row">

                <div class="col-10">
                    <h6>Cálculo de PVP</h6>
                    <p>Calculamos o PVP que debes aplicarlle ao produto segundo a porcentaxe de beneficio que desexes
                        obter.</p>
                </div>
                <div class="col-2">ICONA</div>
            </div>
            <div class="row">

                <div class="col-10">
                    <h6>Cálculo de beneficios</h6>
                    <p>Poderás comprobar de forma clara e sinxela cal é o beneficio real segundo a porcentaxe que lle
                        apliques.</p>
                </div>
                <div class="col-2">ICONA</div>
            </div>
        </div>
        <div class="col-md-6"><img src="../../assets/images/image3.jpg" width="100%"
                alt="Chico comprobando el precio de los productos en una tienda de ropa"
                title="Chico comprobando el precio de los productos en una tienda de ropa"> </div>
    </div>
</div>